<!-- must be the first tag  in the template: -->
{% extends 'base.html' %} {% load static %}

<!-- block title -->
{% block title %}
<title>Qingying Meng | Home</title>
{% endblock title %}

<!-- {% block homeActive %}active{% endblock homeActive %} -->

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- <img
        src="static/img/slider1.jpg"
        class="d-block w-100"
        alt="slider1: capable"
      /> -->

      <img
        src="https://source.unsplash.com/1900x500/?programming"
        class="d-block w-100"
        alt="slider1: capable"
      />

      <!-- <img
        src="{% static 'img/slider1.jpg' %}"
        class="d-block w-100"
        alt="slider1: capable"
      /> -->

      <div class="carousel-caption d-none d-md-block">
        <h5>Capable</h5>
        <p>Knowledge of the full stack.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://source.unsplash.com/1900x500/?javascript"
        class="d-block w-100"
        alt="slider2: adaptive"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Adaptive</h5>
        <p>Ability to learn, adapt, and grow.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://source.unsplash.com/1900x500/?meetings"
        class="d-block w-100"
        alt="slider3: accountable"
      />

      <div class="carousel-caption d-none d-md-block">
        <h5>Accountable</h5>
        <p>Clear goal setting — from daily and weekly to yearly and beyond.</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock content %}
