{% extends 'base.html' %} {% block title %}
<title>Qingying Meng | Skills</title>
{% endblock title %} {% block content %}
<div>
  <p>This is skills.html</p>
  <div>
    <iframe
      width="1120"
      height="630"
      text-align="center"
      src="https://www.youtube.com/embed/2Eswqed8agg"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
{% endblock content %}
