{% extends 'base.html' %}
<!-- load markdownify -->
<!-- {% load markdownify %} -->

<!-- block content -->
{% block content %}
<section class="px-3">
  <h3
    class="h1-responsive font-weight-bold text-left my-4"
    style="color: #0dcaf0"
  >
    {{ project.title }}
  </h3>

  <div>
    <table>
      <tr>
        <th>Projct</th>
        <td>{{ project.title }}</td>
      </tr>
      <tr>
        <th>Technologies</th>
        <td>{{ project.technologies}}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ project.description }}</td>
      </tr>
    </table>
  </div>
  {% endblock content %}
</section>
