<!-- must be the first tag  in the template: -->
{% extends 'base.html' %}
<!-- laod static -->
{% load static %}

<!-- block title -->
{% block title %}
<title>Qingying Meng | Projects</title>
{% endblock title %}

<!-- block projectsActive -->
{% block projectsActive %}active{% endblock projectsActive %}

<!-- block content -->
{% block content %}
<section class="px-3">
  <!--Section heading-->
  <h3
    class="h1-responsive font-weight-bold text-left my-4"
    style="color: #0dcaf0"
  >
    My Projects
  </h3>

  <div>
    <p>
      <button class="btn btn-secondary my-3" href="{% url 'create_project' %}">
        Create a new project
      </button>
    </p>
  </div>

  {% if project_list %}
  <ul class="list-unstyled">
    {% for project in project_list %}
    <li class="media">
      <img
        class="mr-3"
        src="https://source.unsplash.com/100x100/?stocks"
        alt="project image"
      />
      <div class="media-body">
        <h5 class="mt-0 mb-1">Project Alpha</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
        ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
        viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
        Donec lacinia congue felis in faucibus.
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>You are not assigned to any projects. Please create a new project.</p>
  {% endif %}
</section>
{% endblock content %}
